NEXT_PUBLIC_BASE_URL = "http://localhost:3000"
NEXT_PUBLIC_DASHBOARD_URL = "http://localhost:3001"
NEXT_PUBLIC_API_URL = "http://localhost:3002"
NEXT_PUBLIC_PDF_EXPORTER_URL = "http://localhost:3003"

NEXT_PUBLIC_ENABLE_EMAIL_SIGNUP = "true"
NEXT_PUBLIC_ENABLE_OAUTH_LOGIN = "true"
NEXT_PUBLIC_ENABLE_SSO = "true"

NEXT_PUBLIC_CSP_ENDPOINTS = "http://localhost:9000" # MinIO for local development

NEXT_PUBLIC_LLM_MODELS = '[{"name":"gpt-4o","label":"GPT-4o","provider":"openai","description":"Faster model","images":true,"pdfs":true,"reasoning":false},{"name":"gpt-5","label":"GPT-5","provider":"openai","description":"More capable model","images":true,"pdfs":true,"reasoning":false}]'